<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="../css/estilos.css" />
    <title>InstaDev</title>
</head>

<body>
    <header class="topo">
        <div class=" content flex-bt-center">
            <div class="menu">
                <div class="logo">
                 <a asp-controller="Feed"><a href=""><img src="../imgs/Instadev.png"></a></a>
                </div>
                <div id="pesquisa">
                    <img src="../imgs/Vector.png" alt="Pesquisar" />
                    <input type="text" id="search" placeholder="Pesquisar" />
                    <!-- Pesquisar AutoComplete -->
                    <script>
                        $("#search").autocomplete({
                            source: "https://localhost:5001/PublicacaoAPI/ListarUsuario"
                        });
                    </script>
                    <!-- Pesquisar AutoComplete -->
                </div>
                <div class="logos">
                    <a href=""><img src="../imgs/home.png" alt="home" class="log"></a>
                    <a href=""><img src="../imgs/plane 1.png" alt="plane" class="log"></a>
                    <a href=""><img src="../imgs/compass 1.png" alt="compass" class="log"></a>
                    <a href=""><img src="../imgs/coraçao.png" alt="coracao" class="log"></a>
                    <a asp-controller="Perfil" asp-route-IdUsuario=0><img src="/img/Editar/@ViewBag.Usuario.Foto" alt="" class="imagem-de-perfil-header"></a>
                </div>
            </div>
        </div>
    </header>
    <div id="quadrado">
        <div class="borda">
            <div class="b2">

            </div>
        </div>
    </div>
    </div>

    <form method="POST" class="post" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
        <div class="info">
            <div class="aba">
                <p>Editar Perfil</p>
            </div>
        </div>
        <div class="userfoto">
            <img src="../img/Editar/@ViewBag.Usuario.Foto" alt="foto do perfil" class="foto">
        <input type="file" class="charger" name="Foto" placeholder="Escolha sua foto">
        <div class="nomeUsuario">
           <p>@ViewBag.Usuario.NomeDoUsuario </p>
            @* <input type="file" class="quadrado3" name="Foto" placeholder="Digite o seu novo nome de usuário"> *@
        </div>

        </div>

        <div class="nomeuser">
            <p>Nome</p>
        </div>
        <input type="text" class="quadrado2" name="NomeCompleto" value="@ViewBag.Usuario.NomeCompleto"
            placeholder="Digite o seu novo nome completo">

        <input type="text" class="quadrado3" name="NomeUsuario" value="@ViewBag.Usuario.NomeDoUsuario"
            placeholder="Digite o seu novo nome de usuário">
        <input type="email" class="quadrado4" name="Email" value="@ViewBag.Usuario.Email"
            placeholder="Digite o seu novo Email">
        <input type="hidden" class="quadrado4" name="Senha" value="@ViewBag.Usuario.Senha">

        <div class="descricao">
            <p>Ajude as pessoas a descobrir sua conta usando o nome pelo qual você é conhecido: seu nome completo,
                apelido
                ou nome comercial.</p>
            <p2>Você pode alterar o seu nome apenas duas vezes a cada 14 dias.</p2>
        </div>
        <div class="descricao2">
            <p>Na maioria dos casos, você poderá alterar seu nome de usuário novamente para @ViewBag.Usuario.NomeDoUsuario por mais 14
                dias.
            </p>
            <p2>Informações pessoais Forneça suas informações pessoais, mesmo se a conta for usada para uma empresa, um
                animal de estimação ou outra coisa. Elas não farão parte do seu perfil público.</p2>
        </div>
        <div class="username2">
            <p>Nome de usuário</p>
        </div>
        <div class="username3">
            <p>Email</p>
        </div>

        <div class="box">

        </div>
        <button class="box" type="submit" asp-controller="Editar" asp-action="Cadastrar"> Enviar </button>

        <div class="desativar">
            <a asp-controller="Editar" asp-action="Excluir" asp-route-id=0>Desative minha conta definitivamente</a>
        </div>
    </form>
</body>

</html>